---
import BaseLayout from '@layouts/BaseLayout.astro';
import CodeHeaderComponent from "@components/code/CodeHeaderComponent.astro";
import MediaListItem from "@components/MediaListItem.astro";

const config = {
    title: "Ryan Bucinell - Code",
        breadcrumbs: [
            {fa:"home", text:"Home", url:"index.html"},
            {fa:"code", text:"Code", url:"#"}
        ],
        page: {
            title: 'Code',
            small: 'coding projects here and there'
    }
};
const response = await Astro.glob('./code.json');
const json = JSON.parse(JSON.stringify(response[0])).default;
---
<BaseLayout config={config}>
    <div class="flex flex-row justify-evenly items-center">
        <!-- colors from: https://www.schemecolor.com/classic-space-invaders.php -->
        <CodeHeaderComponent opacity="0.20" hover="#EBDF64" title="Websites" img="/img/index/websites-icon.svg" url="/code/websites" />
        <CodeHeaderComponent opacity="0.10" hover="#62DE6D" title="Games" img="img/code/invader.svg" url="/code/games/" />
        <CodeHeaderComponent opacity="0.20" hover="#42E9F4" title="Projects" img="img/code/software.svg" url="/code/projects" />
        <CodeHeaderComponent opacity="0.20" hover="#F83B3A" title="Flash" img="img/code/flash/flash.svg" url="/code/flash" />
        <CodeHeaderComponent opacity="0.10" hover="#666666" title="Github" img="img/code/github.svg" url="http://github.com/rbucinell/" target="_blank" />
    </div>
    <ul id="codeList">
        {json.map( obj => <MediaListItem id={obj.id} name={obj.name} icon={obj.icon} url={obj.url} description={obj.description} /> ) }
    </ul>
</BaseLayout>