nav.top-nav
    .container
        a(hef="#" data-activates="slide-out" class="button-collapse"): i.mdi-navigation-menu
        .nav-wrapper: a.page-title #{pageTitle}
        //- Mixin to create a item the drawer menu
        mixin navItem( text, url )
            li(class='#{nacka_grey}'): a.white-text(class="waves-effect waves-red", href="#{url}") #{text}
        
        //- Main list of navigation elements
        ul#slide-out.side-nav(class='#{nacka_white}')
            
            li.logo: a#logo-container.brand-logo( href="http://www.rbucinell.com")
                img( src='img/nacka_logo.svg', alt='NACKA Logo')
            
        
            ul(class='collapsible collapsible-accordion' data-collapsible='accordian')
                //- The list of bold items that will have children menus
                li(class='#{nacka_grey}')
                    a.collapsible-header.white-text(class="waves-effect waves-red") NACKA News
                    div.collapsible-body
                        ul
                            +navItem( 'News', '#!')
                            +navItem( 'Photos', '#!')
                            +navItem( 'Videos', '#!')
                li(class='#{nacka_grey}')
                    a.collapsible-header.white-text(class="waves-effect waves-red") Schedules
                    div.collapsible-body
                        ul
                            +navItem( 'All Teams', '#!')
                            +navItem( 'My Teams', '#!')
                            +navItem( "Tonight\'s Games", '#!')
            +navItem( 'Fields', '#!')
            +navItem( 'Rules', '#!')
            +navItem( 'About', '#!')
            +navItem( 'Home', '#!')
    
