---
const {index, title, desc, price, imgsrc} = Astro.props;
---
<div class="bg-white rounded overflow-hidden shadow-lg">
    <img class="h-60 w-full" src={imgsrc} alt="Sunset in the mountains">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{title}</div>
      <p class="text-gray-700 min-h-12 text-base">{desc}</p>
    </div>
        <div class="input-group px-6 pt-4 pb-1">
            <span class="input-group-addon">$</span>
            <input class="gift-amount form-control" type="text" placeholder={`${price} /person`} readonly="readonly" disabled="disabled"/>
            <label for={`giftbtn${index}`}>
                <div class="row flex">
                    <button
                        name={`giftbtn${index}`} type="button" id={`${index}_oneperson`}  value="🤵"
                      class="rounded-md rounded-r-none bg-slate-50 py-2 px-4 border border-transparent text-center text-sm text-slate-900 transition-all shadow-md hover:shadow-lg focus:bg-slate-300 focus:shadow-none active:bg-slate-300 hover:bg-slate-300 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                      type="button"
                    >
                    🤵
                    </button>
                    <button name={`giftbtn${index}`} type="button" id={`${index}_twoperson`}  value="🤵👰"
                      class="rounded-md rounded-l-none bg-slate-50 py-2 px-4 border border-transparent text-center text-sm text-slate-900 transition-all shadow-md hover:shadow-lg focus:bg-slate-300 focus:shadow-none active:bg-slate-300 hover:bg-slate-300 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                      type="button"
                    >
                    🤵👰
                    </button>
                  </div>
                <!-- <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
                onclick="" name={`giftbtn${index}`} type="button" id={`${index}_oneperson`}  value="🤵">
                    🤵
                </button>
                <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
                onclick="" data-toggle="button" name={`giftbtn${index}`} type="button" id={`${index}_twoperson`}  value="🤵👰">
                    🤵👰
                </button> -->
            </label>
    </div>
  </div>
<!--   
<div class="giftElement col-xs-12 col-sm-6 col-md-4 col-lg-3" id={`gift_${index}`}>
    <input type="hidden" name={`item_number_${index}`}/>
    <input type="hidden" name={`item_name_${index}`}/>
    <input type="hidden" name={`quantity_${index}`} value="1"/>
    <input type="hidden" name={`amount_${index}`}/>
    <div class="thumbnail">
        <img class="img-rounded" src={imgsrc} style="height:200px;width:300px"/>
        <div class="caption">
            <h4>{title}</h4>
            <p class="description">{desc}</p>
            <div class="input-group col-xs">
                <span class="input-group-addon">$</span>
                <input class="gift-amount form-control" type="text" placeholder={`${price} /person`} readonly="readonly" disabled="disabled"/><span class="input-group-btn"> 
                <label for={`giftbtn${index}`}>
                <button class="gift-btn btn btn-default" onclick="" data-toggle="button" name={`giftbtn${index}`} type="button" id={`${index}_oneperson`}  value="🤵">🤵</button>
                <button class="gift-btn btn btn-default" onclick="" data-toggle="button" name={`giftbtn${index}`} type="button" id={`${index}_twoperson`}  value="🤵👰">🤵👰</button>
                </label>
                </span>
            </div>
        </div>
    </div>
</div> -->