---
export enum State {
    OPEN, RESERVED, BOOKED
}

interface Props {
  row: string,
  col: number,
  state?: State
}

const { row, col, state=State.OPEN } = Astro.props;
---
<div id={`${row}${col}`} class="square center">
    {row}{col}<span class="text-secondary">{state}</span>
</div>