---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Debug } from 'astro/components';

const config = {
    title: "Ryan Bucinell - Projects",
    breadcrumbs: [
        {fa:"home",             text:"Home",        url:"index.html"},
        {fa:"settings",         text:"Projects",    url:"#"},
        {fa:"alert-triangle",   text:"Active",      url:"#"}
    ],
    page: {
        title: 'Active Projects',
        small: 'Work In Progress...'
    }
};
const response = await Astro.glob('../../public/projects/projects.json');
const json = JSON.parse(JSON.stringify(response[0]));
//TODO: rewrite projects.json to use list instead of a bunch of keys, lot easier to parse.

---
<BaseLayout config={config}>
    <p class="lead">Just some projects I'm working on or technical tests.</p>
    <p>This page is dynamically generated at the websites build time depending on the content that is in my projects directory. If there is an index.html in the project's root then you can click on it to see the project</p>
    
    <Debug {json}/>
    
    <table id="projTable" class="table table-condensed table-hover table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Project Name</th>
            <th>Project Index / Link</th>
        </tr>
        </thead>
        <tbody>
            { Object.keys(json).slice(1).map( key =>{
                return (<tr>
                    <td>{key}</td>
                    <td>
                        {json[key].hasIndex ? 
                            <a href={`${json[key].path}index.html`}>{json[key].path}</a> : 
                            <span>{json[key].path}</span>
                        }
                    </td>
                </tr>)
            })}
        </tbody>
    </table>
</BaseLayout>