---
import BaseLayout from '../layouts/BaseLayout.astro';
import TechIconComponent from '../components/TechIconComponent.astro';
import ExperienceComponent from '../components/ExperienceComponent.astro';
import CollapsibleSection from  '../components/CollapsibleSection.astro';
import BannerComponent from '../components/BannerComponent.astro';

const config = {
    title: "Ryan Bucinell - Résumé",
    breadcrumbs: [
        {fa:"home", text:"Home", url:"index.html"},
        {fa:"info",text:"Personal Info"},
        {fa:"file-text",text:"Resume", url:"#"}
    ],
    page: {
        title: 'Ryan Bucinell',
        small: 'A Curriculum Vitae'
    }
};
const fdir = "img/websites/";
const response = await Astro.glob('../../public/data/resume/experience.json');
const json = JSON.parse(JSON.stringify(response[0]));
---
<style>
    #langSection {
        display:grid;
        grid-template-columns: repeat( 4, 1fr);
    }
    #techSection {
        display:grid; 
        grid-template-columns: repeat(5,1fr);
    }
</style>
<BaseLayout config={config}>

    <BannerComponent id="downloadpdf">
        <strong>&nbsp;</strong>Download PDF versions:
        <a href="data/resume/Resume for Ryan Michael Bucinell.pdf" class="alert-link btn btn-outline-primary mx-3"><i class="font-weight-bold d-inline text-primary" data-feather="file-text"/>Standard PDF version</a>
        <a href="data/resume/Resume for Ryan Michael Bucinell - Open Resume.pdf" class="alert-link btn btn-outline-secondary"><i class="font-weight-bold d-inline text-secondary" data-feather="file-text"/>&nbsp;Open Resume</a>
    </BannerComponent>

    <CollapsibleSection id="experience" title="Experience" open="true">
    {
        json.default.map( exp => <ExperienceComponent title={exp.title} company={exp.company} daterange={exp.daterange} img={exp.img} descriptions={exp.descriptions} tags={exp.tags} /> )
    }
    </CollapsibleSection>

    <CollapsibleSection id="education" title="Education" open="true">
        <ExperienceComponent title="Bachelors of Science, Computer Science" company="Rochester Institute of Technology" daterange="Sept. 2006 - May 2011" img="img/resume/rit.png"
        descriptions={['Minor in Game Design & Development, Concentration in Advanced Computer Graphics']}/>
    </CollapsibleSection>
    

    <CollapsibleSection id="languages" title="Languages">
        <div class="collapse show border-left container" id="langSection">
            {
                ['python', 'csharp', 'cplusplus', 'java', 'scala', 'html5', 'microsoftsqlserver', 'mysql','css3', 'javascript', 'typesecript']
                    .map( i => <TechIconComponent icon={i} word="false" colored="false"/>) 
            }
        </div>
    </CollapsibleSection>

    <CollapsibleSection id="technologies" title="Technologies">
        <div class="collapse show border-left container" id="langSection">
            {
                ['vscode', 'visualstudio', 'intellij', 
                'dot-net', 'dotnetcore', 'docker', 'kubernetes',
                'npm', 'nodejs', 'angularjs', 'vuejs', 'react', 'bootstrap', 'oracle','git', 'gulp', 'webpack','mongodb',
                'flask', 'selenium','express' ]
                    .map( i => <TechIconComponent icon={i} word="false" colored="false"/>)
            }
        </div>
    </CollapsibleSection>
</BaseLayout>
<script src="https://code.highcharts.com/highcharts.js" />
<script src="https://code.highcharts.com/highcharts-3d.js" />
<script src="https://code.highcharts.com/modules/exporting.js" />

