---
import BaseLayout from "../layouts/BaseLayout.astro";
import Rules from "../components/squares/rules.astro";

const config = {
  title: "Bucinell Superbowl Squares - 2025 Super Bowl LVIV",
  breadcrumbs: [
      {fa:"home", text:"Home", url:"index.html"},
      {fa:"check-square", text:"Super Bowl Squares", url:"squares.html"}
  ],
  page: {
      title: 'Bucinell Superbowl Squares',
      small: 'Super Bowl LIX (2025)'
  },
  description: "Its time for the big game. Want a chance to make a few bucks? Try my interactive Superbowl squares board. It will automatically show the winners so you don't even have to worry!"
}
const price = 10;
const payouts = [0.1, 0.2, 0.3, 0.4];
---
<meta property="og:title" content={config.title}>
<meta property="og:site_name" content="rbucinell.com">
<meta property="og:url" content="https://rbucinell.com/squares">

<meta property="og:description" content={config.description}>
<meta name="description" content={config.description}>

<meta property="og:type" content="website">
<meta property="og:image" content="/img/squares/og-image-board.png">
<meta property="og:image" content="/img/squares/board.png">

<BaseLayout config={config}>
  <div class="container-fluid">
    <div class="cell locked">
      <p>Its time for the big game! Want a chance at making a few bucks? The board will load in and you can select
         the squares you want. The detailed rules are at the bottom of the page. 
      </p>
      <p>Click all the squares that you want to purchase. Then click the 'purchase' button to finalize your 
        reservation. Squares are <strong id="squareCost">${price}</strong>. Please 
        <a class="underline font-bold" rel="noopener" href="https://paypal.me/rbucinell">Paypal</a>  or venmo me 
        at <a class="underline font-bold" rel="noopener" href="https://account.venmo.com/u/rbucinell">@rbucinell</a>
      </p>
    </div>
    <div class="center mb-4">
      <iframe id='iframeBoard' height="950px" class="border-0 mx-auto w-full" src="https://bucinell-squares.vercel.app/"/>
    </div> 
    <Rules payouts={payouts}/> 
</BaseLayout>