---
const {title, company, daterange, img, ...etc} = Astro.props;
const descriptions = etc.descriptions;
const tags = etc.tags;
---
<div class="flex flex-col gap-1 pl-1 py-2 mb-4">
    <div class="hidden absolute right-0 md:block md:w-32 z-0 opacity-60">
        <img src={img} class="rounded-md float-right m-3" alt="...">
    </div>
    <h2 class="text-2xl lg:text-3xl font-semibold z-10">{company}<small class="mx-2 text-green-700">{title}</small></h2>
    <h3 class="text-base text-gray-500">{daterange}</h3>
    <ul class="text-sm list-disc list-inside">
        {descriptions.map(d => <li>{d}</li>)}
    </ul>
    <div class="flex flex-wrap gap-2 text-base">
        {
            tags?.map(t => <span class="bg-gray-200 text-gray-600 cell inline locked round">{t}</span>)
        }
    </div>    
</div>