---
let {id, rootdir, count, title, date} = Astro.props;
---
<div class="col-x12 col-sm-6 col-lg-4 mb-4">
    <div class="m-2">
        <div id={id} class="cell">
            <a href={`${rootdir}${id}/thumb.png`} data-caption={`${title} - Preview`}>
                <img class="card-img-top" src={`${rootdir}${id}/thumb.png`} alt={`Screenshot of ${title}`}>
            </a>
            <div class="hidden">
                { Array.from({length: count}).map( (u,i) => (<a href={`${rootdir}${id}/gallery/${i+1}.png`} data-caption={`${title} - ${i+1} of ${count}`}></a>) ) }
            </div>
        </div>
        <div class="flex flex-col mx-2">
            <h5 class=" flex flex-row justify-between">
                <span class="font-bold text-xl">{title}</span>
                <span class="font-normal text-base">{date}</span>
            </h5>
            <div class="text-base font-normal">
                <slot/>
            </div>
            
        </div>
    </div>
</div>
<script define:vars={{id}} is:inline>
    baguetteBox.run(`#${id}`)
</script>