---
const { id, name, icon, description, url  } = Astro.props;
---
<li id={id} class="cell wrapper locked">
    <div class="flex flex-row">
    <div class="wrapper cell locked min-w-16  min-h-16 h-16 max-h-16 max-w-16">
        <img class="mx-auto w-full h-full" src={icon} alt={`Icon for ${name}`}>
    </div>
    <div class="mx-2 flex flex-col flex-shrink">
        <h5 class="m-1"><a href={url}>{name}</a></h5>
        <p class="text-base font-normal">{description}</p>
    </div>
    </div>
</li>
