---
const opacityStyle = `opacity: ${Astro.props.opacity || 0.33};`
---
<div class="cell">
    <a href={Astro.props.url}>
        <div class="">
            <img src={Astro.props.img} alt={`${Astro.props.title} icon`} class="h-100 img-fluid card-img" style={opacityStyle}>
            <div class="card-img-overlay">
                <span class="font-weight-bold newsheadertitle">{Astro.props.title}</span>
                <slot/>
            </div>
        </div>
    </a>
</div>
