extends partials/layout.pug
block config
    -
        var pageConfig = {
            title: "Ryan Bucinell - About Me",
            breadcrumbs: [
                {fa:"home", text:"Home", url:"index.html"},
                {fa:"info",text:"Personal Info"},
                {fa:"user",text:"About Me", url:"#"}
            ],
            pageh1: {
                title: 'C\'est moi',
                small: 'just a bit about yours truly'
            }
        }

block content

    mixin prolink( name, url="", disable=false )
        if( url )
            a( rel="noopener" class=`text-dark flex-fill list-group-action ${(disable ?" disabled":"")}` href=url target="_blank"): i(class=`devicon-${name} display-4`)
        else
            a( rel="noopener" class=`text-dark flex-fill list-group-action ${(disable ?" disabled":"")}` href="#" ): i(class=`devicon-${name} display-4`)
    
    //- Content
    .row
        .col-12
            p I am a Software Engineer and a father of twins. Currently living in Rochester, NY however I’m native to the area, however after getting my bachelors in Computer Science I decided to stick around for the for the Garbage Plates. I am currently employed by Paychex working on business automation, web services, and full-stack development. Most of my tools are internal or back end systems.  Outside of my 9-5 I occasionally contract website development or script work.  
            p For recreation I enjoy plyaing in local sports leagues such as kickball, and softball even moonlighting as a referee for one of the leagues as well. I love doing mud-runs such as Tough Mudder, Warrior Dash (pictured to right), Spartan Sprint, and Hero Rush and the perpetual fear that I will be too out of shape to complete one keeps me going. Lastly I'm a huge movie buff and gamer, I'll happily discuss latest of either of these until long after the sun goes down.
    .row: .col-12: p.center.text-uppercase.display-4 Find me around the web
    .row: .col-12.center.list-group.list-group-horizontal
            +prolink( 'github-original','http://github.com/rbucinell/')
            +prolink( 'codepen-plain',  'https://codepen.io/SwiftStriker00')
            +prolink( 'google-plain',   'https://play.google.com/store/apps/dev?id=7417114351448733904')
            +prolink( 'linkedin-plain', 'http://www.linkedin.com/in/ryanbucinell')
            +prolink( 'facebook-plain', 'https://www.facebook.com/ryan.bucinell')
    hr
    .row
        .flex-fill.span.thumbnail: img( style="max-height:300px",src="img/me/crop.jpg")
        .flex-fill.span.thumbnail: img( style="max-height:300px",src="img/me/mykids.jpg")
        .flex-fill.span.thumbnail: img( style="max-height:300px",src="img/me/aboutme.png")
    hr