extends partials/layout.pug
block config
    -
        var pageConfig = {
            title: "Ryan Bucinell - Résumé",
            breadcrumbs: [
                {fa:"home", text:"Home", url:"index.html"},
                {fa:"info",text:"Personal Info"},
                {fa:"file-text",text:"Resume", url:"#"}
            ],
            pageh1: {
                title: 'Ryan Bucinell',
                small: 'A Curriculum Vitae'
            }
        }
mixin techicon( icon, word )
    i.display-3.lead.colored(class=`devicon-${icon}-plain${word? '-wordmark': ''}`)

mixin experience(title, company, daterange, img, ...descriptions)
    .col-12
        .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
            
            .flex-grow-1
                h4.mb-0 #{title}
                .lead.text-secondary.mb-3 #{company}
                ul
                    each desc in descriptions
                        li= desc
            .flex-shrink-0
                span.text-muted #{daterange}
                div(width="200px", height="100px" style=`background-position: right;background-repeat:no-repeat;opacity:0.5;min-height:100px;background-image: url(${img})`)

block content
    h4.center: a(href="data/resume/Resume%20for%20Ryan%20Michael%20Bucinell.pdf") Download A PDF Version

    h2.collapse-icon: a( data-toggle="collapse" data-target="#experienceSection" aria-expanded="true") Experience 
    #experienceSection.collapse.show.border-left
        +experience("Software Developer", "Day Automation", "November 2021 - CURRENT", "img/resume/day.png",
            'Full-stack development of internal site with ruby-on-rails backend and pure JavaScript front-end utilizing REST calls.',
            'Maintained and developed AutoCAD extension, implementing authentication and PDF generation',
            'Automated ticket tracking system integrating Redmine and Trello services.' )
        +experience("Software Engineer", "Paychex", "November 2016 - June 2019 - November 2021", "img/resume/paychex.png",
            '[Nov-2016] Contractor; [Jun-2019] Unified Communications; [Oct-2020] Unified Service Development',
            'Designed and developed a ExpressJS/Mongo DB REST service to execute GUI automation of system changes ',
            'De-compile, analyze, document, and re-engineer projects with missing GIT source control',
            'Redesigned ASP.NET / AngularJS website for network and Unified Communications automation and monitoring',
            'Automation scripts to support Cisco VXML Java applications & BMC Orchestrator in ServiceNow ticket manager',
            'Trained and on-boarded multiple new engineers o existing project/technologies and agile development practices.')
        +experience("Software Engineer", "Harris via Mindex Technologies", "May 2014 - November 2016", "img/resume/harris.png",
            'Application development for Windows and mobile platforms',
            'Rewritten legacy applications to support new technologies while maintaining and expanding functionality',
            'Utilized Technologies: Version control systems, visual studio, SQL, C#, XML, & XSLT')
        +experience("Software Engineer", "Xerox Corporation via Mindex Technologies", "January 2013 - May 2014", "img/resume/xerox.png",
            'Worked on scrum team development utilizing TFS for team code management',
            'Update and maintain large-scale enterprise software for multiple projects',
            'Created backend services to migrate data, and generate reports as well as manage other services')
        +experience("Performance Engineer", "Xerox Corporation via Mindex Technologies", "November 2011 - January 2013", "img/resume/xerox.png",
            'Design, build, and deployed international multi-stage metrics gathering system with automated reporting',
            'Retrofit and optimize tools to generate large amounts of big data utilized in server stress simulation',
            'Analyze, Debug, and Report code performance, utilizing PAL, ANTS Profiler, and other performance tools')
    
    h2.collapse-icon: a( data-toggle="collapse" data-target="#educationSection" aria-expanded="true") Education 
    #educationSection.collapse.show.border-left
        +experience("Bachelors of Science, Computer Science", "Rochester Institute of Technology", "Sept. 2006 - May 2011", "img/resume/rit.png",
            'Minor in Game Design & Development, Concentration in Advanced Computer Graphics')

    h2.collapse-icon: a( data-toggle="collapse" data-target="#langSection" aria-expanded="true") Languages
    #langSection.collapse.show.border-left.container(style="display:grid;grid-template-columns: repeat( 4, 1fr")
        +techicon('python')
        +techicon('csharp')
        +techicon('cplusplus')
        +techicon('java')
        +techicon('html5')
        +techicon('css3')
        +techicon('javascript')
        +techicon('typescript')
    h2.collapse-icon: a( data-toggle="collapse" data-target="#techSection" aria-expanded="true") Technologies
    #techSection.collapse.show.border-left.container(style="display:grid;grid-template-columns: repeat( 5, 1fr")
        +techicon('dot-net', true)
        +techicon('angularjs')
        +techicon('bootstrap',true)
        +techicon('visualstudio')
        +techicon('oracle')
        +techicon('git')
        +techicon('nodejs')
        +techicon('gulp')
        +techicon('intellij')
        +techicon('mongodb')
        +techicon('npm')

block scripts
    //- High Charts - http://www.highcharts.com/
    script( src="https://code.highcharts.com/highcharts.js")
    script( src="https://code.highcharts.com/highcharts-3d.js")
    script( src="https://code.highcharts.com/modules/exporting.js")